#card {
    width: 300px;
    padding: 10px;
    border: solid 1px rgb(202, 202, 202);

}

.cardTitle {
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 10px;
}

.cardImage {
    margin-bottom: 10px;s
}

.noBullets {
    list-style-type: none;
    list-style-position: inside;
    margin-left: 0;
    padding-left: 0;

}

.factsList {
    font-weight: bold;
    text-align: left;
}

.lowerCard {
    border: solid 1px rgb(202, 202, 202);
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
}
